<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270246260737-bt8pd7d86m9jqht3e5q2t5ujk626akae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270246260737-bt8pd7d86m9jqht3e5q2t5ujk626akae</string>
	<key>API_KEY</key>
	<string>AIzaSyAoLo1BOEIVgDLZNzm6zi_LBTSJQhPBztc</string>
	<key>GCM_SENDER_ID</key>
	<string>270246260737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFcm.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-fcm-18bb1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fcm-18bb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270246260737:ios:6159cd61174ebe647c9000</string>
</dict>
</plist>